<div class="about-component">
  <h1>basicT NG</h1>
  <div class="material-control" (click)="goBack()">
    <span class="material-symbols-outlined"> arrow_back </span>
    <span> Voltar </span>
  </div>
  <br />
  <div class="content">
    <p>O <strong>WebApp PDV BasicT</strong> foi desenvolvido por:</p>
    <ul>
      <li><a href="https://github.com/themyntt">Gabriel Araújo</a></li>
      <li><a href="https://github.com/jpaveiro">João Pedro Aveiro</a></li>
      <li>
        <a href="https://github.com/viniciusdevjesus">Vinicius de Jesus</a>
      </li>
    </ul>
    <br />
    <p>
      O projeto foi desenvolvido utilizando
      <strong>Java SpringBoot</strong>, <strong>Angular v17</strong> e banco de
      dados <strong>MySQL</strong>.
    </p>
    <br />
    <p>
      <a href="https://github.com/jpaveiro/basicT-NG">Código-fonte</a>
      <br />
      <a href="https://github.com/jpaveiro/basicT-NG/blob/main/LICENSE">Licença do projeto</a>
    </p>
    <br />
  </div>
</div>
