<div class="about-component">
  <h1>basicT NG</h1>
  <br />
  <p>
    WebApp PDV desenvolvido por
    <a href="https://github.com/themyntt">Gabriel Araújo</a>, 
    <a href="https://github.com/jpaveiro">João Aveiro</a> e
    <a href="https://github.com/viniciusdevjesus">Vinicius de Jesus</a>
  </p>
  <p>Desenvolvido com Java SpringBoot, Angular v17 e MySQL.</p>
  <p>Confira o código fonte no <a href="https://github.com/jpaveiro/basicT-NG">GitHub.</a></p>
  <br />
  <p>
    <a href="https://github.com/jpaveiro/basicT-NG/blob/main/LICENSE">Licença</a>
  </p>
  <br />
  <a (click)="goBack()" style="
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  ">Voltar</a>
</div>
