@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "ngx-toastr/toastr";

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Inter";
}

@media (max-width: 900px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block;
  }
}

@media (min-width: 900px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none !important;
  }
}

.container {
  padding: 0 20px;
}
