.app-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
  div {
    h2 {
      font-weight: 300;
    }
    .desktop {
      display: flex;
      gap: 10px;
    }
  }
}
