<div class="daily-overview-component">
  <div *ngIf="loader">
    <app-loader />
  </div>
  <div class="main-container">
    <h2>Resumo diário</h2>
    <div class="material-control" (click)="goBack()">
      <br />
      <span class="material-symbols-outlined"> arrow_back </span>
      <span> Voltar </span>
    </div>
    <div class="content">
      <div class="today-sales">
        <span class="material-symbols-outlined"> attach_money </span>
        <span>{{ today_sales }}</span>
      </div>
    </div>
  </div>
</div>
