<app-header [isLogged]="false"></app-header>
<div class="app-login">
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <h3>Fazer login.</h3>
      <custom-input
        placeholder="johndoe@example.com"
        icon="mail"
        label="Insira seu email: "
        [control]="userForm.controls['email']"
      ></custom-input>
      <custom-input
        placeholder="12345678"
        icon="lock"
        type="password"
        label="Insira sua senha: "
        [control]="userForm.controls['password']"
      ></custom-input>
      <custom-button
        child="Fazer login"
        icon="log-in"
        variant="green"
        type="submit"
      ></custom-button>
    </form>
  </div>
</div>
<app-footer></app-footer>
