<div class="new-sale-component">
  <div *ngIf="loader">
    <app-loader />
  </div>
  <div class="main-container">
    <h2>Nova venda</h2>
    <div class="material-control" (click)="redirect('home')">
      <br />
      <span class="material-symbols-outlined"> arrow_back </span>
      <span> Voltar </span>
    </div>
    <br />
    <span *ngIf="!seeTable">Nenhum produto foi adicionado ainda.</span>
    <div *ngIf="seeTable">
      <br />
      <table>
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Preço</th>
        </tr>
        <tr *ngFor="let product of allData">
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>R$ {{ product.price }}</td>
        </tr>
      </table>
    </div>
    <div class="purchase-info">
      <div class="sell">
        <div>
          <label for="name">Código de barras</label>
          <br />
          <input
            type="name"
            id="name"
            name="name"
            placeholder="Digite o código de barras do produto."
            (keyup)="setCodeBar($event)"
            value="{{ codeBar }}"
            autofocus
            required
          />
        </div>
        <div>
          <label for="name">Quantidade</label>
          <br />
          <input
            type="number"
            id="number"
            name="number"
            placeholder="Digite a quantidade deste mesmo produto."
            (keyup)="setQuantity($event)"
            value="{{ quantity }}"
            minlength="0"
            required
          />
        </div>
        <div>
          <label>Método de Pagamento</label>
          <br />
          <select
            [(ngModel)]="selectedPaymentMethod"
            (change)="setSelectedPaymentMethod($event)"
          >
            <option value="dinheiro">Dinheiro</option>
            <option value="pix">PIX</option>
            <option value="debito">Débito</option>
            <option value="credito">Crédito</option>
          </select>
        </div>
      </div>
      <div class="buttons">
        <button class="btn" (click)="addProducts()">Adicionar Produto</button>
        <button class="btn" id="sell" (click)="sell()">Vender</button>
      </div>
      <div class="total">
        <h2 *ngIf="seeTable">Total: R$ {{ finalPrice.toFixed(2) }}</h2>
      </div>
    </div>
  </div>
</div>
