<app-header [isLogged]="true"></app-header>
<div class="app-home">
  <div class="container">
    <div id="name-section">
      <h2>Bem vindo,</h2>
      <h1>{{ name | capitalize }}</h1>
    </div>
    <div id="fast-menu-control">
      <fast-menu legend="Menu rápido">
        <custom-button
          child="Nova venda"
          variant="green"
          icon="hand-coins"
        ></custom-button>
        <custom-button child="Ver produtos" variant="no-color"></custom-button>
      </fast-menu>
    </div>
  </div>
</div>
